$grey: #F0E3CA;
$brown: #A35709;
$orange: #FF8303;
$black: #1B1A17;
$white: #f8f9fa;
$bg-utama: linear-gradient(180deg,rgba(255,255,255,0.15),rgba(255,255,255,0));

$boxshadow-utama: 0 3px 6px 0 rgba(0,0,0,0.2);
$boxshadow-besar: 0 15px 30px 0 rgba(0,0,0,0.2);