<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <title>Kemana Angin Berhembus - Padi</title>
</head>

<body class="bg-light">
    <nav class="shadow navbar navbar-expand-lg navbar-light bg-light bg-gradient p-2 border">
        <div class="container">
            <a class="navbar-brand" href="#"> <i> 🎵MusicCatalog.app </i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">🏠Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">🎶Song</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">💽Album</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">⭐Artist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">🔍 Search</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row mt-5">
            <div id="breadcumbContainer" class="shadow-sm border border-1 rounded bg-white">
                <nav class="pt-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Search result</a></li>
                        <li class="breadcrumb-item" aria-current="page"><a href="#">Padi</a></li>
                        <li class="breadcrumb-item" aria-current="page"><a href="#">Sesuatu yang tertunda</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Kemana Angin Berhembus</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-8">
                <div class="row">
                    <div class="col">
                        <h3 class="mb-3">Kemana Angin Berhembus</h3>
                        <ul class="list-group shadow-sm">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Artist : Padi
                                <span class="badge bg-light rounded-pill">⭐</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Album : Sesuatu yang tertunda
                                <span class="badge bg-light rounded-pill">💽</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Bit per minute : 146
                                <span class="badge bg-light rounded-pill">🎶</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-4 mb-4">
                    <h3>Lyric</h3>
                    <p class="fw-light bg-white p-2">
                        Kemanapun angin berhembus ..<br>Menuntun langkahku, memahat takdir hidupku disini<br><br>Masih
                        tertinggal wangi yang sempat engkau titipkan<br>Mengharumi kisah hidupku ini<br><br>Meski ku
                        terbang jauh melintasi sang waktu<br>Kemanapun angin berhembus<br><br>Aku pasti akan
                        kembali<br>Kulukiskan indah wajahmu dihamparan awan<br><br>Biar tak jemu kupandangi
                        selalu<br>Kubiarkan semua cintamu membius jiwaku<br><br>Yang memaksaku merindukan
                        dirimu<br>Meski langit memikatku dengan sejuta senyuman<br><br>Aku tak akan tergoyahkan<br>Aku
                        pasti akan kembali"
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row mt-2 d-flex justify-content-center">
                    <div class="card col-md-6 col-6 shadow">
                        <img src="https://i.scdn.co/image/1dfb4f34ab2973e6be704cecd71f51ced72789f6" class="img-fluid"
                            alt="...">
                        <div class="card-body">
                            <h5 style="text-align: center;" class="card-title"> Artist : <a href="">Padi</a> </h5>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 d-flex justify-content-center">
                    <div class="card col-md-6 col-6 shadow">
                        <img src="https://i.scdn.co/image/ab67616d0000b27325b073e38d5d379f1eec534b" class="img-fluid"
                            alt="...">
                        <div class="card-body">
                            <h5 style="text-align: center;" class="card-title"> Album : <a href="">Sesuatu yang tertunda</a> </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

</body>

</html>