<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find and Explore many restaurant and food with FoodHorizon">
    <title>Food Horizon</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
        <div class="header__logo">
            <a href="/" class="header__logo__main">
                FoodHorizon
            </a>
        </div>
        <div id="hamburger-container">
            <button tab-index="0" id="hamburger" aria-label="button-toggle-menu">☰</button>
        </div>
        <nav id="drawer">
            <ul class="nav__listmenu">
                <li class="nav__listmenu__item">
                    <a href="/">Home</a>
                </li>
                <li class="nav__listmenu__item">
                    <a href="#">Favorite</a>
                </li>
                <li class="nav__listmenu__item">
                    <a href="https://www.github.com/taufiq33">About Us</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">Good food, happy!</h1>
            <p class="hero__tagline">Explore best restaurant, to satisfy your soul.</p>
        </div>
    </div>

    <main id="maincontent">
        <section class="viral-food">
            <div class="viral-food__title">
                <h2>The most viral and trending food, want to try it?</h2>
            </div>

            <div class="viral-food__content"></div>

        </section>

        <section class="explore-restaurant">
            <div class="explore-restaurant__title">
                <h2>Explore Best Restaurant here..</h2>
            </div>

            <div class="restaurants-container"></div>

        </section>
    </main>

    <footer>
        <p>
            © 2021 FoodHorizon, All rights reserved. Site by <a class="footer__link" href="https://www.github.com/taufiq33">Taufiq Hidayat</a>.
        </p>
    </footer>
</body>
</html>